/*
## DIFERENCIAS ENTRE VARIABLES SASS Y VARIABLES CSS

#### SASS:

1. se pueden declarar sin selector
2. tiene scope de bloque
3. operaciones aritmeticas directas
4. funciones para los colores
5. las variables pueden ser interpoladas
6. No se pueden redefinir

#### CSS :

1. necesitan un selector
2. tiene scope de DOM
3. Operaciones aritmeticas con calc
4. no tienen funciones para los colores
5. las variables NO pueden ser interpoladas
6. Se pueden redefinir
*/
/**************  1.  ************/
:root {
  --size: 3rem; }

/*******************************/
body {
  color: green;
  --color: blue;
  background: var(--color); }

h1 {
  --color: yellow; }

h2 {
  --color: pink;
  color: var(--color);
  font-size: 3rem;
  background: green;
  /****************    3.  ***************/
  height: -webkit-calc(var(--size) * 2 + 3rem);
  height: calc(var(--size) * 2 + 3rem);
  /**************************************/ }

/****************	4 	****************/
div {
  background: #004d00; }

/**************************************/
/**************  5.  ************/
.orangered {
  color: orangered; }

.orange {
  color: orange; }

.yellow {
  color: yellow; }

:root {
  --largeBp: 1024px; }

@media screen and (min-width: 1024px) {
  p {
    background: yellow; } }
/********************************/
/**************		6.	***************/
:root {
  --red: red; }

p {
  color: var(--red); }

.p {
  color: orange; }

/*************************************/
